* {
    font-family: "Open Sans";
}

body {
    background: #8fceff;
    color: #000c;
}

header {
    display: flex;
}

header nav {
    flex: 50%;
}

header nav ul {
    list-style-type: none;
    overflow: hidden;
}

header nav ul li {
    padding: 20px;
    float: left
}

header img {
    padding: 38px;
    flex: 50%;
}

/* footer layout */

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

footer ul li {
    margin: 15px;
    float: left;
}