* {
    font-family: "Open Sans";
}

body {
    background: #ceffc9;
    color: #000b;
}

a {
    color: #916f00;
}

a:hover {
    color: #6e3515;
}

header {
    text-align: center;
}

header img, header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    padding: 20px;
    display: inline-block;
}


/* main content */
.model {
    padding-left: 8px;
}

/* feedback block */
.feedback {
    margin: 20px;
    padding: 3px 10px 10px 30px;
    background-color: #fff3;
}

/* footer layout */
footer ul {
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 15px;
}

/* table style */
table, th, td {
    border: 2px solid teal;
}

th, td {
    font-weight: 700;
    text-align: center;
}